<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Searchbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">searchbar</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--Barra de pesquisa em uma barra de ferramentas-->
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <!--Pleaceholder-->
  <ion-searchbar placeholder="Digite aqui para pesquisar"></ion-searchbar>
  <!--Barra de Pesquisa Animada-->
  <ion-searchbar animated></ion-searchbar>
  <!--Barra de pesquisa com um debounce personalizado-->
  <ion-searchbar debounce="500"></ion-searchbar>
  <!--Barra de pesquisa com botão de cancelamento e texto de botão de cancelamento personalizado-->
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
  <!--Desabilita o Searchbar-->
  <ion-searchbar disabled="true"></ion-searchbar>
  <!--Barra de pesquisa com modo de entrada numérico-->
  <ion-searchbar inputmode="numeric"></ion-searchbar>
  <!--Barra de pesquisa com tipo de telefone-->
  <ion-searchbar type="tel"></ion-searchbar>
  <!--Inicia com um valor ja inserido, ao digitar aparecerar um x no canto direito do searchbar ao clicar no x limpará todo o texto escrito-->
  <ion-searchbar value="Ionic"></ion-searchbar>
  <!--Ao clicar para digitar Coloca uma seta pra esquerda no lugar da lupa, digitar aparecerar um x no canto direito do searchbar-->
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
  <!--Simples sem cor de fundo digitar aparecerar um x no canto direito do searchbar-->
  <ion-searchbar showCancelButton="never"></ion-searchbar>
  <!--Começa com uma seta pra esquerda no lugar da lupa digitar aparecerar um x no canto direito do searchbar-->
  <ion-searchbar showCancelButton="always"></ion-searchbar>
  <!--Coloca uma background na barra de pesquisa ao digitar aparecerar um x no canto direito do searchbar-->
  <ion-searchbar placeholder="Digite aqui para pesquisar" color="primary"></ion-searchbar>

</ion-content>